@use '../../palette';

:host {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: palette.$grey-light;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  min-width: 14rem;
  min-height: 8rem;
  text-align: center;
  color: palette.$black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: palette.$purple;
  color: palette.$white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;

  &:hover {
      color: palette.$black;
  }

  &.accept:hover {
    background-color: palette.$green;
  }

  &.decline:hover {
    background-color: palette.$red;
  }
}
